
            html {
                padding: 30px 10px;
                background: #f0f0f0;
                -webkit-text-size-adjust: 100%;
                -ms-text-size-adjust: 100%;
                color: white;
				font-family: 'Open sans',sans-serif;
				font-size: 16px;
				line-height: 1.4;
				text-align: center;
            }

            html,
            input {
                font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            }

            body {
                _width: 100%;
                padding: 10px 0px;
                border: 1px solid #b3b3b3;
                border-radius: 4px;
                margin: 0 auto;
                box-shadow: 0 1px 10px #a7a7a7, inset 0 1px 0 #fff;
                background: #222;
            }

            h1 
            {
            	margin: 0 0 .75em;
				font-size: 3em;
				line-height: 1.2em;
               display: block;
				font-size: 2em;
				-webkit-margin-before: 0.67em;
				-webkit-margin-after: 0.67em;
				-webkit-margin-start: 0px;
				-webkit-margin-end: 0px;
				font-weight: bold;

            }

            h1 span {
                color: #bbb;
            }

            h3 {
                margin: 1.5em 0 0.5em;
            }

            p {
                margin: 1em 0;
            }

            .container {
                max-width: 400px;
                _width: 380px;
                margin: 0 auto;
                
            }

.image-container {
	width: 150px;
	height: 150px;
}
.online-image-container {
	background-image: url("../assets/images/connexion-internet-icone-5439-96.png") ;
	background-repeat:no-repeat;
	background-position:center center ;
	-o-background-size: 100% 100%, auto;
	-moz-background-size: 100% 100%, auto;
	-webkit-background-size: 100% 100%, auto;
	background-size: 100% 100%, auto;
	width: 100%;
	height: 100%;
	
}
.offline-image-container {
	background-image: url("../assets/images/navigateur-globe-internet.png");
	background-repeat:no-repeat;
	background-position:center center ;
	-o-background-size: 100% 100%, auto;
	-moz-background-size: 100% 100%, auto;
	-webkit-background-size: 100% 100%, auto;
	background-size: 100% 100%, auto;
	width: 100%;
	height: 100%;
}

.cta-option {
position: relative;
display: inline-block;
margin: 2.5em .5em 0;
vertical-align: top;
}
.btn-reload {
position: relative;
display: inline-block;
vertical-align: middle;
padding: .6em 1em;
border: 1px solid #995309;
color: white;
border-radius: 4px;
box-shadow: 0 2px 5px -2px #111,inset 0 2px 5px 0 rgba(255, 255, 255, .3);
font-size: 1.5em;
text-decoration: none;
}
.offline-button {
background: #D9750B;
}
.online-button {
background: #8ff450;
}
.description {
	margin: 1em 2em 0;
font-size: 1.25em;
color: #DDD;
}